a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

body {
  background-color: #141414;
  font-size: 0.9rem;
  color: white;
}

#top-bar {
    background-color: #14141400 !important;

}

#top-bar.scrolled {
  transition: all 300ms;
  background-color: #141414 !important;
}

.topbar svg {
  width: 1.2rem;
}

#logo {
  width: 64px !important;
}

/*-- Media queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
