body {
    background-color: rgb(66, 103, 213);
}

.wrapper .bg-login-image {
    background: url(https://images.pexels.com/photos/970076/pexels-photo-970076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: contain;
}

.wrapper .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.wrapper .btn-user {
    background-color: #4267d4;
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}

.wrapper .btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.wrapper .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.wrapper .custom-control label {
    line-height: 1.5rem;
    color: #858796;
}