body {
    color: #757575;
    background-color: #4e73df;
}

.wrapper {
    display: flex;
}


.wrapper .container-right {
    width: 83vw;
}

.wrapper .shadowed {
    box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.075);
}

.wrapper .container-right .content {
    background-color: #eaebef;
    height: 100%;
    padding-top: 7.5rem !important;
}

