.wrapper .content .border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.wrapper .content .border-left-success {
    border-left: .25rem solid #1cc88a!important;
}

.wrapper .content .border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.wrapper .content .border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}

.wrapper .content .text-xs {
    font-size: .7rem;
}

.wrapper .content .progress-sm {
    height: .5rem;
}