.wrapper {
    display: flex;
}

.wrapper .sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 225px;
    background-color: #4e73df;
}

.wrapper .sideBar .navbar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .container-right .topBar {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 70px;
}

.wrapper .container-right .content {
    background-color: #eaebef;
    height: 100%;
}

