.wrapper .sideBar .navbar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .container-right .topBar {
    position: absolute;
    top: 0px;
    width: 83%;
    background-color: rgb(255, 255, 255);
    height : fit-content;
}

.wrapper .topBar .navbar-search {
    padding: 1.8rem 0rem 1.8rem 0rem;
}

.wrapper .topBar .noti .noti-icon{
    width: 40px;
    padding-right: 15px;
}

.wrapper .topBar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 1rem);
    margin: auto 1rem;
}

.wrapper .topBar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 1rem);
    margin: auto 1rem;
}

.wrapper .topBar .nav-item {
    position: relative;
}

.wrapper .topBar .nav-item i{
    width: 40px;
}

.wrapper .topBar .badge-counter {
    font-size: .6rem;
    position: absolute;
    left: 0;
    top: 0;
}
